In [4]:
import wbgapi as wb

In [8]:
indicators = {
    'NY.GDP.PCAP.KD': 'gdp_pc',
    'SL.EMP.TOTL.SP.ZS': 'emp_ratio',
    'NY.GDP.MKTP.KD.ZG': 'gdp_growth'
}

# Your country list
countries = [
    'AFG','DZA','BHR','DJI','EGY','IRN','IRQ','ISR','JOR','KWT',
    'LBN','LBY','MLT','MAR','OMN','PAK','QAT','SAU','SYR','TUN',
    'ARE','PSE','YEM'
]

years = range(2017, 2024)
# Download data
df = wb.data.DataFrame(indicators, economy=countries, time=years,
                       numericTimeKeys=True, labels=True, columns='series')

In [6]:
df

                         Country  Time  NY.GDP.MKTP.KD.ZG  NY.GDP.PCAP.KD  \
economy time
YEM     2023         Yemen, Rep.  2023                NaN             NaN
        2022         Yemen, Rep.  2022                NaN             NaN
        2021         Yemen, Rep.  2021                NaN             NaN
        2020         Yemen, Rep.  2020                NaN             NaN
PSE     2023  West Bank and Gaza  2023          -4.555804     2888.763061
...                          ...   ...                ...             ...
DZA     2020             Algeria  2020          -5.000000     4363.685338
AFG     2023         Afghanistan  2023           2.266944      378.066303
        2022         Afghanistan  2022          -6.240172      377.665627
        2021         Afghanistan  2021         -20.738839      408.625855
        2020         Afghanistan  2020          -2.351101      527.834554

              SL.EMP.TOTL.SP.ZS
economy time
YEM     2023             27.327
        2022             27.185
        2021             26.479
        2020             26.670
PSE     2023                NaN
...                         ...
DZA     2020             33.992
AFG     2023             32.402
        2022             32.333
        2021             36.022
        2020             36.710

[92 rows x 5 columns]

In [9]:
df = df.sort_values(['Country', 'Time']).reset_index(drop=True)